#!/usr/bin/make -f
# debian/rules for zypper-declarative
# X-PCD-Spec-SHA256: f2cc80627e483a48bb8411d297711bc5f6c6e74c28dbf0dafc8fe7bd8817251e

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	cmake --build build -j
	pandoc zypper-declarative.1.md -s -t man -o zypper-declarative.1

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/zypper-declarative cmake --install build
	install -d $(CURDIR)/debian/zypper-declarative/usr/share/man/man1
	install -m 0644 zypper-declarative.1 \
	  $(CURDIR)/debian/zypper-declarative/usr/share/man/man1/zypper-declarative.1
	install -d $(CURDIR)/debian/zypper-declarative/usr/lib/zypper/commands
	ln -sf /usr/bin/zypper-declarative \
	  $(CURDIR)/debian/zypper-declarative/usr/lib/zypper/commands/zypper-declarative

override_dh_auto_test:
	# black-box tests require building the binary; run via the Makefile target
	$(MAKE) test
