#!/usr/bin/make -f
# X-PCD-Spec-SHA256: f2cc80627e483a48bb8411d297711bc5f6c6e74c28dbf0dafc8fe7bd8817251e

export CGO_ENABLED=0
export DH_GOPKG := github.com/mge1512/zypper-declarative

%:
	dh $@

override_dh_auto_build:
	go build -o zypper-declarative ./cmd/zypper-declarative
	pandoc zypper-declarative.1.md -s -t man -o zypper-declarative.1

override_dh_auto_install:
	install -D -m 0755 zypper-declarative debian/zypper-declarative/usr/bin/zypper-declarative
	install -D -m 0755 zypper-declarative debian/zypper-declarative/usr/lib/zypper/commands/zypper-declarative
	install -D -m 0644 zypper-declarative.1 debian/zypper-declarative/usr/share/man/man1/zypper-declarative.1

override_dh_auto_test:
	go test ./independent_tests/claude-opus-4-8/...
