#!/usr/bin/make -f
# debian/rules for zypper-declarative
# X-PCD-Spec-SHA256: 51284526723dc9238113984023bfb9a596d55b534c8ea580dfac1157cd70dd03

export DH_GOPKG := github.com/mge1512/zypper-declarative
export CGO_ENABLED := 0

%:
	dh $@

override_dh_auto_build:
	go build -o zypper-declarative ./cmd/zypper-declarative
	pandoc zypper-declarative.1.md -s -t man -o zypper-declarative.1

override_dh_auto_install:
	install -D -m 0755 zypper-declarative debian/zypper-declarative/usr/bin/zypper-declarative
	install -D -m 0755 zypper-declarative debian/zypper-declarative/usr/lib/zypper/commands/zypper-declarative
	install -D -m 0644 zypper-declarative.1 debian/zypper-declarative/usr/share/man/man1/zypper-declarative.1

override_dh_auto_test:
	go test ./independent_tests/claude-opus-4-8/...
